@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

@import './animations', './mixins';

$body-font: 'Source Sans Pro',
sans-serif;
$title-font: 'Roboto Condensed',
sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html {
    // scroll-snap-type: y proximity; // lazy scroll
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; // aggressive scroll
}
body {
    background-color: #ecf1f2;
    width: 100%;
}
nav {
    ul {
        bottom: 50%;
        left: -40px;
        transform: translateY(25%);
        list-style: none;
        width: auto;
        position: fixed;
        text-align: center;
        li {
            padding: 20px;
            margin-top: 120px;
            transform: rotate(270deg);
            border: 1px solid #b3b7b8;
            font-family: $title-font;
            color: #b3b7b8;
            cursor: pointer;
            transition: all 200ms ease-in;
            &:hover {
                background-color: #b3b7b8;
                color: #ecf1f2;
                border: 1px solid #ecf1f2;
            }
        }
        a {
            text-decoration: none;
        }
    }
    
}
.card-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    scroll-snap-align: start;
    &:nth-child(2) {  /* second card-container */
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .card-header {
        font-family: $title-font;
        font-size: 2rem;
        color: #272727;
    }
    .card-header-first {
        grid-column-start: 1;
        grid-column-end: 5;
        @include header-props();
    }
    .card-header-second {
        @include header-props();

    }
}
#card-cover {
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 5px 5px 5px 0 rgba(64,64,64, 0.3);
    img {
        width: 250px;
        height: 400px;
    }
    &:hover {
        cursor: pointer;
    }
}
#card {
    position: absolute;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.8);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 300ms ease-in;
    width: 250px;
    .card-title {
        font-family: $title-font;
        margin-bottom: 15px;
        font-size: 1.5rem;
        color: #2e2e2e;
    }

    .card-description {
        font-family: $body-font;
        color: #404040;
    }
}
#card-zoom {
    cursor: pointer;
    width: 250px;
    height: 400px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        transition: transform 300ms ease-in-out;
    }    
}
#card-container-row {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    column-gap: 50px;
}
